<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee Crud</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <nav class="navbar bg-warning">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">ABC Company Ltd.</span>
        </div>
    </nav><br><br>

    <form action="/Employee/CreateResult" method="post"> {% csrf_token %}
        <div class="input-group container">
            <label class="input-group-text" id="inputGroup-sizing-default">First Name</label>
            <input type="text" class="form-control" name="firstName">
        </div><br>
        <div class="input-group container">
            <label class="input-group-text" id="inputGroup-sizing-default">Last Name</label>
            <input type="text" class="form-control" name="lastName">
        </div><br>
        <div class="input-group container">
            <label class="input-group-text" id="inputGroup-sizing-default">Designation</label>
            <input type="text" class="form-control" name="designation">
        </div><br>
        <div class="input-group container">
            <label class="input-group-text" id="inputGroup-sizing-default">Salary</label>
            <input type="text" class="form-control" name="salary">
        </div><br>
        <div class="input-group container">
            <button type="submit" class="btn btn-warning">Submit</button>
        </div>
    </form>
  </body>
</html>